.cartItem {
  width: 274px;
  text-decoration: none;
  list-style-type: none;
}

.card {
  width: 100%;
}

.button__favorite {
  position: absolute;
  margin-top: 10px;
  margin-left: 230px;
  width: 24px;
  height: 24px;
  padding: 0;
  opacity: 2;
  background-color: #ffffff04;
  border: none;
}

.icon_normal {
  stroke: white;
  cursor: pointer;
}

.icon_active {
  cursor: pointer;
}

.card__img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.card_title {
  display: flex;
  justify-content: space-between;
}

.card__car__info {
  display: flex;
}

p {
  margin: 0;
}

.car__make,
.car__year,
.car__price {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 8px;
  color: #121417;
}

.car__model {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding-left: 3px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 8px;
  color: #3470ff;
}

.car__year {
  padding-left: 3px;
}

.car__location,
.car__option {
  display: flex;
}

.car__option {
  height: 18px;
}

.car__info {
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: rgba(18, 20, 23, 0.5);
}

.button__open_modal {
  width: 100%;
  height: 44px;
  padding: 12px 99px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  color: #fff;
  background: #3470ff;
  border: none;
  margin-top: 28px;
}

.button__open_modal:hover {
  background-color: #175bf9;
}

.icon {
  width: 3px;
  height: 10px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
}
