.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.input__title {
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px;
color: #8A8A89;
margin-bottom: 8px;
}

.input__container {
    margin-right: 18px;
}